.container{
  height: 768px;
  width: 1024px;
  overflow: hidden;
  position: relative;
}
.app {
  transition: 0.6s cubic-bezier(0.5, 0, 0.5, 1);
}

.container__pages{
  position: absolute;
  right: 27px;
  top: 353px;
  width: 13px;
}
.container__page{
  margin-bottom: 9px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
.container__page_current{
  margin-bottom: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #f78b1f;
  transition: 0.3s;
}
.container__down{
  position: absolute;
  text-align: center;
  left: 25px;
  bottom: 0px;
  width: 980px;
  height: 100px;
  transition: 0.5s;
  background: radial-gradient(45% 30% at bottom center,#f38b24 30%,transparent 100%),radial-gradient(40% 80% at bottom center,#f38b24 20%,transparent 85%);
}
.container__down p{
  display: inline-block;
  margin-bottom: 0px;
  color: white;
  font-family: 'GothamPro', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
.container__down div{
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
